{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "no-console": "off",
    "indent": "off",
    "arrow-parens": "off"
  }
}
